In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: WA_Fn-UseC_-Telco-Customer-Churn.csv

In [ ]:
import pandas as pd

df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv") # to read pandas from csv file
df.head() # shows only the first 5 rows of the table

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
df.isnull().sum() # to check missing values

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce") # to find hidden missing values

Initially, no missing values were detected in the dataset.
However, the column "TotalCharges" contained blank string values.
After converting this column to numeric format, these blanks were correctly identified as missing values.

In [ ]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

There are 11 missing values in TotalCharges

In [ ]:
df["TotalCharges"].fillna(df["TotalCharges"].median(), inplace=True) #Fill (Impute) Missing Values with median value of that column

/tmp/ipython-input-1718414672.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["TotalCharges"].fillna(df["TotalCharges"].median(), inplace=True) #Fill (Impute) Missing Values with median value of that column

In [ ]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

The missing values in the "TotalCharges" column were handled by replacing them with the median value.

In [ ]:
df.select_dtypes(include="object").columns # Handle Categorical (Text) Data

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn'],
      dtype='object')

In [ ]:
df.replace({"Yes": 1, "No": 0}, inplace=True) # Convert Yes/No columns to 1/0

/tmp/ipython-input-2956907877.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({"Yes": 1, "No": 0}, inplace=True) # Convert Yes/No columns to 1/0

In [ ]:
df = pd.get_dummies(df, drop_first=True) # Encode remaining categorical columns. Converts remaining text columns into numbers.

In [ ]:
df.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,customerID_0003-MKNFE,...,TechSupport_No internet service,StreamingTV_1,StreamingTV_No internet service,StreamingMovies_1,StreamingMovies_No internet service,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,0,1,0,1,29.85,29.85,0,False,...,False,False,False,False,False,False,False,False,True,False
1,0,0,0,34,1,0,56.95,1889.50,0,False,...,False,False,False,False,False,True,False,False,False,True
2,0,0,0,2,1,1,53.85,108.15,1,False,...,False,False,False,False,False,False,False,False,False,True
3,0,0,0,45,0,0,42.30,1840.75,0,False,...,False,False,False,False,False,True,False,False,False,False
4,0,0,0,2,1,1,70.70,151.65,1,False,...,False,False,False,False,False,False,False,False,True,False

Categorical variables were converted into numerical format to make the dataset suitable for analysis.
Binary categories such as Yes/No were encoded as 1/0.
Other categorical features were encoded using dummy encoding.

In [ ]:
# Outlier Detection
Q1 = df["MonthlyCharges"].quantile(0.25) # value below 25% of data files
Q3 = df["MonthlyCharges"].quantile(0.75) # value below 75% of data files
IQR = Q3 - Q1 # to calculate middle range

lower_bound = Q1 - 1.5 * IQR # lowest acceptable value
upper_bound = Q3 + 1.5 * IQR # highest acceptable value

lower_bound, upper_bound

(np.float64(-46.02499999999999), np.float64(171.375))

Outliers in the MonthlyCharges column were detected using the IQR method. Extreme values were capped within the lower and upper bounds to reduce their impact while retaining all data points

In [ ]:
df["MonthlyCharges"] = df["MonthlyCharges"].clip(lower_bound, upper_bound) # it limits extreme values in the monthly charges column

In [ ]:
df.to_csv("Telco_Customer_Churn_Cleaned.csv", index=False) # Save the cleaned dataset

Why did you choose specific imputation methods?  

The missing values in the TotalCharges column were handled using the median.
Median imputation was chosen because it is stable to extreme values and represents a typical value of the data.

How and why did you handle outliers the way you did?

Outliers in the MonthlyCharges column were detected using the Interquartile Range (IQR) method.
Extreme values were capped instead of removed to preserve all data points while reducing the impact of unusually high or low values.

Where and how might data leakage occur in this dataset?

Data leakage can occur if the information from the target variable is used during data processing. Data leakage may occur if features that directly or indirectly reveal the churn outcome are used during preprocessing.
In this dataset, care was taken to avoid using the target variable during preprocessing steps.
All transformations were applied only on feature columns, ensuring no leakage.